body {
    background-color: #c0c4e4;
}

html {
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

nav {
    flex: 0 0 500px;
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 7vh;
    border-radius: 20%;
    background-color: #a6ddcb;
    box-shadow: .4px .4px 15px rgb(80, 73, 73);
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.10rem;
    padding: .55rem;
}

nav a:hover {
    background-color: rgb(0, 184, 240);
    transition-duration: .4s;
}

.page {
    height: 100dvh;
    scroll-snap-align: start;
}

.first_page {
    background-image: url(Images/Green\ Wateroclor\ Leaf\ Linktree\ Background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.Intro {
    height: 40vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26%;
    left: 10%;
}

.Intro_head {
    color: navy;
    font-weight: 900;
    display: flex;
    font-size: clamp(1rem, 3vw, 2rem);
    flex-direction: column;
    gap: 10px;
    font-family: "Space Mono",
        monospace;
}

.Intro_main {
    margin: 20px;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: rgb(7, 49, 189);
    font-family: cursive;
}

.Intro_foot {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Intro_foot button {
    font-family: cursive;
    background: transparent;
    border: none;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    padding: 1% 5%;
    margin-left: 5rem;
    margin-top: 2rem;
}

.Intro_foot button:hover {
    cursor: pointer;
    background-color: #a6ddcb;
    transition-duration: .5s;
}

.skills {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2vh 0;
}

.skill_flex {
    border: 2px solid black;
    flex: 1;
    height: 30vh;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.projects_head {
    flex: 1 1 100vw;
    height: 10vw;
    border: 2px solid rgb(255, 0, 0);
}

.projects_flex {
    border: 2px solid black;
    flex: 0 0 calc((100% / 3) - 10px);
    height: 30vh;
}

.projects_foot {
    flex: 1 1 100vw;
    height: 10vw;
    border: 2px solid rgb(255, 0, 0);
}

footer {
    background-color: lightgreen;
    height: 45vh;
    scroll-snap-align: start;

}